/cache
/libraries
/logs
/plugins/bstats
/plugins/Geyser-Spigot/cache
/plugins/Geyser-Spigot/locales
/plugins/voicechat/translations.yml
/versions
/worlds
/.console_history
/banned-ips.json
/banned-players.json
/eula.txt
/ops.json
/usercache.json
/version_history.json
/whitelist.json