/cache
/libraries
/logs
/plugins/bstats
/versions
/worlds
/.console_history
/banned-ips.json
/banned-players.json
/eula.txt
/ops.json
/plugins/OpenAudioMc/data.yml
/plugins/OpenAudioMc/modules/migrate.map-to-storm.jar
/plugins/OpenAudioMc/storm.db
/usercache.json
/version_history.json
/whitelist.json